/* Aspecto general */
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Cabecera */
header {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

/* Navegación */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: black;
    text-decoration: none;
}

/* Contenido principal */
main {
    padding: 20px;
}

/* Pie de página */
footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
}